h2 {font-size: 24px;
text-align: center;}
body { background-color:#efeee7;
    font-family:`Georgia,"Times New Roman",Times,serif;`
    color:#333333;
    margin: 0;
    padding: 0;
    line-height: 150%;
}
header {color:#333333}
h1 {color:#eee;
font-size:28px;
margin: 0 auto;
padding: 20px 0;
text-align: center;
margin-bottom: 20px;
margin: 0;
}
#mainbio, #contact-info, #bio-image {float: left;}
#bio-image {width: 200px;
height: 200px;
margin-right: 20px;}
#contact-info {width: 30%}
#mainbio {width: 70%}